<div class="scContainer scCenterElement">
  <div class="scPageHeader"> 
    Add your company details
    <div class="scPageHeaderSubText">
        Looking for a change hope something comes up....
    </div>
  </div>
  <form name="CompanyDetails" class="scForm" novalidate>
    <div class="scInputContainer scCenterElement" style="justify-content: start;">
      <div class="scCompanyLogo scCenterElement">
        <img src="{{CompanyLogo != null ? CompanyLogo : 'images/image.png' }}" class="scUploadedImgSize">
      </div>
      <label class="scCustomFileUpload">
        <input type="file" ng-model="CompanyLogo" name="CompanyLogo" accept="image/*"
        onchange="angular.element(this).scope().uploadedFile(this, 'CompanyLogo')" required>
        Upload your company logo
    </label>
    </div>
    <div class="scInputContainer">
      <div class="scFormHeader">Company name</div>
      <input type="text" focus letter-only maxlength="50" ng-model="User.CompanyName" placeholder="" id="CompanyName" name="CompanyName" class="scFormInput" required>
    </div>
    <div class="scInputContainer">
      <div class="scFormHeader">Email Id</div>
      <input type="email" focus ng-model="User.EmailId" maxlength="100" placeholder="" id="EmailId" name="EmailId" class="scFormInput" required>
    </div>
    <div class="scInputContainer">
      <div class="scFormHeader">Job title</div>
      <input type="text" focus letter-only ng-model="User.JobTitle" maxlength="80" placeholder="" id="JobTitle" name="JobTitle" class="scFormInput" required>
    </div>
    <div class="scInputContainer">
      <div class="scFormHeader">Year of experience</div>
      <input type="text" focus numbers-only ng-model="User.YearsOfEx" maxlength="2" placeholder="" id="YearsOfEx" name="YearsOfEx" class="scFormInput" required>
    </div>

    <div class="scInputContainer">
      <input type="checkbox" ng-model="User.Agreeded">
      <span>I accept the <a href="#/TeamsAndConditions">Teams and Conditions</a></span>
    </div>

    <div class="scButtonDiv">
      <button type="button" class="scButton scBackBtn" ng-click="Back(CompanyDetails)">Back</button>
      <button class="scButton scBtnNext {{User.Agreeded ? '' : 'scDisableBtn'}}" ng-disabled="!User.Agreeded" ng-click="NextPageIfValid(CompanyDetails)">Next</button>
    </div>
  </form>
</div>
