<div class="scContainer scCenterElement">
    <table class="scUserData">
        <tr>
            <td>Name</td>
            <td>EmailId</td>
            <td>JobTitle</td>
            <td>Phone</td>
        </tr>
        <tr ng-repeat="Data in AllData">
            <td>{{ Data.doc.Name }}</td>
            <td>{{ Data.doc.EmailId }}</td>
            <td>{{ Data.doc.JobTitle }}</td>
            <td>{{ Data.doc.Phone }}</td>
        </tr>
      </table>

      <div class="scLogout" ><a href="#/Login">Logout</a></div>

      <p class="scDashInfo">
          This is an addition page which not included as a part of the task.
          Just added this to showcase the inserted values in pouch DB. </br>
      </p>

      <p class="scDashInfo">
        You can login with the EmailID and Experience
        </p>
    </p>
  </div>
  