<div class="scContainer scCenterElement">
    <div class="scPageHeader"> 
      Welcome to Sqaure app
    </div>
    <div class="scForm">
      <div class="scInputContainer">
        <div class="scFormHeader">User name</div>
        <input type="text" placeholder="" id="Name" class="scFormInput">
      </div> 
      <div class="scInputContainer">
        <div class="scFormHeader">Password</div>
        <input type="text" placeholder="" id="Name" class="scFormInput">
      </div>
  
      <button class="scButton scFullWidth" ng-click="">Login</button>
    </div>
    <div class="scPageFooter">
      Don't have a account ?<a href="#/Registration" style="color: #ED5901;">Register Here</a>
    </div>
  </div>
  